header {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
	font-size: 40px;
}

body {
	background: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12122420_10205345173013209_4078441729288903021_n.jpg?oh=007b95846b33540f4679aaa1690582aa&oe=575A2B44");
	background-size: cover;
}

h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 30px;

}

p {
	font-size: 18px;
	color: white;
}

.video {
	text-align: center;
	padding: 0;
	border: 20px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    margin: 0;
}
