header {
	background-color: rgba(0, 0, 0, 0.75);
	text-align: left;
	color: white;
	height: 120px;
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 400;
	position: fixed;
	width: 100%;
}

header h1 {
	font-size: 50px;
}

header p {
	text-align: center;
}

.page-content {
	
}

body {
	background: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12669460_10207058098265570_7770706859415208619_n.jpg?oh=ccbcf11955461da32442340aef035b86&oe=579941EB");
	background-size: cover;
	background-attachment: fixed;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 30px;

}

p {
	font-size: 22px;
	color: white;
}

.video {
	text-align: center;
}

.video iframe {
	margin-top: 120px;
	padding: 0;
	border: 20px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
}

#introduction {
	background-color: rgba(0, 0, 0, 0.5);
}

.text {
	margin-right: 10px;
	margin-left: 10px;
}

.Committee h2 {
	color: white;
	font-weight: bolder;
}
